<%- include ('../../partials/header.ejs' ) %>
<%- include ('../../partials/navbar.ejs' ) %>



<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                
                <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo">
                <br>
                <textarea class="form-control" placeholder="Escreva o artigo aqui !" name="body" id="article"></textarea>
                <br>
                <button class="btn btn-success">cadastrar</button>
            </form>
        </div>
    </div>
    <br>
</div>





<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
            
    });
</script>
