<%- include ('../../partials/header.ejs' ) %>
<%- include ('../../partials/navbar.ejs' ) %>
<div class="container">
    <br>
    <h2>Categorias</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <th>1</th>
            <th>dev Web</th>
            <th>dev-web</th>
            <th></th>
        </tbody>

    </table>
</div>




<%- include ('../../partials/footer.ejs') %>
