<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <br>
            <div class="card">
                <div class="card-header">
                    <h2>Descrição</h2>
                </div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla mollis nulla mattis cursus. Curabitur facilisis, nibh vel suscipit euismod, mauris erat luctus metus, non vulputate velit felis nec orci. Integer consequat libero vitae leo congue ullamcorper. Integer dapibus vestibulum imperdiet. Praesent ex velit, mollis a augue vel, laoreet laoreet velit. Nulla accumsan orci placerat, viverra mauris quis, finibus ipsum. Integer volutpat venenatis velit
                    </p>
                </div>
            </div>
            <br>
    </div>
</body>